<header class="interior-header">
	<div class="wrapped clear">
	<nav class="interior-nav">
		<a href="/"><img src="/resources/KH2whitealt.png" alt="logo" class="mobile"></a>
		<a href="/"><img src="/resources/KH2@2x.png" alt="logo" class="desk"></a>
		<span class="menu mobile" id="mobile-menu-b">Menu</span>
	</nav>
	<div class="nav-cont">
	<ul class="int-desk-menu-left desk inline-list">
		<li><a href="/blog">Blog</a></li>
		<li><a href="/work">Work</a></li>
	</ul>
		<ul class="int-desk-menu-right desk inline-list">
		<li><a href="#about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
	</div>

	<ul class="int-nav-menu mobile" id="mobile-menu">
		<li><a href="/blog">Blog</a></li>
		<li><a href="/work">Writing & Projects</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
	</div>
</header>




