* {@include box-sizing(border-box); }

html {

}

body {
	background-color: $dark;
	color: $text;
	font-family: $fontstack;
	font-size: 120%;
	@media (min-width: $desktop) {font-size: 135%; background-color: white}
}

img {
	height: auto;
	width: 100%;
}

a {
	color: $link;
	text-decoration: none;
	&:hover {text-decoration: underline;}
}

p {line-height: 1.58}

.mobile {
	@media (min-width:$desktop) {display:none;}
}

.desk {
	display: none;
	@media (min-width:$desktop) {display:inherit;}
}

.hidden {
	display: none;
}

.show {
	display: inherit;

}

.wrapped {
	margin: 0 auto;
	max-width: 55em;
}

.mobile-wrapped {
	margin: 0 auto;
	width: 95%;
}

.half {
	@media (min-width: $desktop) {width: 50%;}
}

.clear {
	clear: both;
	overflow: hidden;
}

.float-left {
	@media (min-width: $desktop) {float: left;}
}

.float-right {
	@media (min-width: $desktop) {float: right;}
}

.readability {
	margin: 0 auto;
	max-width: 34em;
}

.post-container {
	background: white;
	position: relative;
	footer {text-align: center;}
}

.post {
	header {text-align: center;}
	.title {
		font-size: 1.5em;
		font-style: italic;
		font-weight: normal;
		margin: 0;
		padding-top: 1em;
		@media (min-width: $desktop){font-size: 1.5em;}
			a { 
			color: $text;
			&:hover{text-decoration: none;}
		}
	}
	.date {
		color: $light;
		text-align: center;
	}
}

.inline-list {
	list-style: none;
	padding: 0;
	li {
		@media (min-width: $desktop) {display: inline-block;}
	}
}

nav.prev-next{
	border-top: 1px solid $light;
	padding-top: 1em;
	margin-top: 2em;  
	a{
		display: inline-block;
		font-size: .9em; 
	}
	.previous {float: left; padding-left:1em;}
	.next {float: right; padding-right:1em;}
}