header.home {
	padding: 2em 0;
	@media (min-width: $desktop) {padding-bottom: 4em; padding-top: 3em;}
}

.selected-writing{
	display: none;

	@media (min-width: $desktop) {padding-left: 10%; display: inherit;}

	h2 {
		font-weight: normal;
		font-style: italic; 
		margin: .5em 0;}
	ul {
		list-style: none; 
		margin: 0;
		padding-left: 0;
		text-align: center;
		@media (min-width: $desktop) {text-align: left;}
	}
	li {
		padding-bottom: .5em;
		text-transform: uppercase;
		span {
			color: $light; 
			font-size: .7em;
			padding: 0 .5em;
			text-transform: lowercase;
		}
		.domain {
			border-left: 1px solid $light;
		}
	}
	.read-more {float:right; padding-right: 4em;}
}

.about {
	background-color: $dark;
	color: #E9E9E9;
	font-style: italic;
	padding: 2em 0;
	@media (min-width: $desktop) {font-size: 1.2em; padding: 4.5em 0;}
}

.blog-home {
	display: none;
	@media (min-width: $desktop){display: inherit;}
	.section-title {text-align: center;}
	h2 {
		display: inline-block;
		font-style: italic;
		font-weight: normal;
		text-align: center;	
		a {
			color: $dark;
		}
	}
}

.footer-home {
	display: none;
	@media (min-width: $desktop){display: inherit;}
}

nav.mobile {
	ul{
		list-style: none; 
		padding: 0; 
		margin: 0;}
	li {
		border-bottom: 5px solid white;
		font-size: 1.3em;
		font-weight: bold;
		text-align: center;	
		text-transform: uppercase; 
	}
	li:nth-child(1) {
		border-top: 5px solid white;
	}
	a{
		color: white;
		display: block;
		padding: 1.2em 0;
	}
}

.interior {
	nav{
		padding-bottom: 2em;
		padding-top: 1em;
		text-align: center;
		@media (min-width: $desktop) {padding-bottom: 2em; padding-top: 1em;}
		li {padding-left: 4em;}
	}
	.logo {max-width: 8em;}
}