header.home {
	@media (min-width: 400px) {padding-top: 2em;}
	@media (min-width: $desktop) {padding-bottom: 3em;}
}

.logo {
	background-image: url("/resources/KH2whitealt@2x.png");
	background-position:50% 50%; 
	background-repeat:no-repeat; 
	background-size: contain;
	height: 266px;
	/*image replacement*/ 
	border: 0;
  	font: 0/0 a;
  	text-shadow: none;
  	color: transparent;
	
	@media (min-width: $desktop) {
		background-image: url("/resources/KH2@2x.png");
		height: 400px;
	}
}

.interior-header {
}

.logo-container {
	padding: .7em 0;
	max-width: 6em;
}

.interior-logo {
	@extend .logo;
	background-image: url("/resources/KH2whitealt.png");
	height: 60px;
}

.interior-nav {
	background: $dark;
	.menu {display: block; text-align: right;}
}

.selected-writing{
	background: white;
	@media (min-width: 400px) {margin-top: 2em;}
	@media (min-width: $desktop) {padding-left: 7%; margin-top: 0;}

	h2 {
		font-weight: normal;
		font-style: italic; 
		margin: .7em 0;
		text-align: center;
		@media (min-width:$desktop) {text-align:left;}
	}
	ul {
		list-style: none; 
		margin: 0;
		padding-left: 0;
		text-align: center;
		@media (min-width: $desktop) {text-align: left;}
	}
	li {
		padding-bottom: .5em;
		text-transform: uppercase;
		span {
			color: $light; 
			font-size: .7em;
			padding: 0 .5em;
			text-transform: lowercase;
		}
		.domain {
			border-left: 1px solid $light;
		}
	}
}

.read-more {
	text-align: center; 
	padding: 0 0 3em 0;
	margin-top: -1.35em;
}

.writing-link {
	display: block;
	text-align: center;
	padding: 1.5em 0 2em 0;
	@media (min-width: $desktop){padding-right: 4em; text-align: right; padding-bottom: 0;}
}

.about {
	background-color: $dark;
	color: #E9E9E9;
	font-style: italic;
	padding: 2em 0;
	@media (min-width: $desktop) {font-size: 1.2em; padding: 4.5em 0;}
}

.blog-home {
	background: white;
	.section-title {text-align: center;}
	h2 {
		display: inline-block;
		font-style: italic;
		font-weight: normal;
		text-align: center;	
		a {
			color: $dark;
		}
	}
}

.mobile-blog {
	padding-bottom: 2.5em;
}


.mobile-nav {
	ul{
		list-style: none; 
		padding: 0; 
		margin: 0;}
	.button{
		background: $dark;
		border-top: 5px solid white;
		color: white;
		display: block;
		padding: 1.2em 0;
		font-size: 1.3em;
		font-weight: bold;
		letter-spacing: .05em;
		text-align: center;	
		text-transform: uppercase;

		&:active {background: white; color: $dark;}
		&:hover {text-decoration: none;}
	}
}

.contact{
	background: white;
	.form {padding-top: 1em;}
	.button {border-bottom: 5px solid white;}
}

.post-body {
	padding-top: 0;
}

.post-list{
	section {
		border-bottom: 1px solid $light;
		padding: 1em 0 2em 0;
	}
	section:first-child {padding-top: 0;}
}

.info { border-bottom: 1px solid $light; padding-bottom: 2em;}

.form {margin: 0 auto; max-width: 85%; padding: 1em 0;}

.footer-site {
	background: $dark;
	padding-bottom: 2em;
	@media (min-width: $desktop) { padding-top:1em;}
}

.page-title {
	font-size: 1.8em;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding: .7em 0;
	text-align: center;
}

.page-nav {
	@extend .inline-list;
}

.int-mobile-nav {
	position: absolute;
	right: 0;
	top: .4em;
	.menu {
		color: white;
		font-size: 1.3em;
		font-style: italic; 
		padding: .7em;
	}
}

.int-nav-menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	li { font-size: 1.2em; border-top: 3px solid white;}
	a{color: white; display: block; padding: .7em 0;
		&:active {background: white; color: $dark;}
		&:hover {text-decoration: none;}
	}
}