---
layout: default
title: Writing & Projects
---

<h1 class="page-title">Work</h1>

<div class="wrapped-2 clear">
<section class="half float-left work center">
      
      <div class="mobile-wrapped">
      <h2>Writing</h2>
      <ul>
        {% for post in site.categories.work %}
        {% if post.type == 'writing' %}
        <li>
            {% if post.link %}
              <a href="{{post.link}}">
            {% else %}
              <a href="{{post.url}}">
            {% endif %}

          {{post.title}}</a><br><span>{{post.genre}}</span>{% if post.domain %}<span class="domain">{{post.domain}}</span>{% else %}<span class="domain">{{post.link | remove: 'http://' | split: '/' | first}}</span>{% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      </div>
</section>

<section class="half float-right work center">
    <div class="mobile-wrapped">
        <h2>Links</h2>
        <ul>
        {% for post in site.categories.work %}
        {% if post.type == 'project' %}
            <li>
              {% if post.link %}
                <a href="{{post.link}}">
              {% else %}
                <a href="{{post.url}}">
              {% endif %}

                {{post.title}}</a><br><span>{{post.genre}}</span>{% if post.domain %}<span class="domain">{{post.domain}}</span>{% else %}<span class="domain">{{post.link | remove: 'http://' | split: '/' | first}}</span>{% endif %}
            </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
</section>

</div>
