---
layout: base
---

<header class="home">
	<div class="wrapped clear">
		
		<h1 class="half float-left logo mobile-wrapped">Kris Hartrum</h1>

		<section class="half float-left selected-writing">

			<div class="mobile-nav mobile">
				<span class="button" id="mworkb">Writing & Projects</span>
			</div>
			
			<div class="mobile-wrapped desk" id="mwork">
			<h2>Selected Writing</h2>
			<ul>
				{% for post in site.categories.work %}
				{% if post.selected == true %}
				<li>
					<a href="{{post.url}}">{{post.title}}</a><br><span>{{post.genre}}</span>{% if post.domain %}<span class="domain">{{post.domain}}</span>{% else %}<span class="domain">{{post.link | remove: 'http://' | split: '/' | first}}</span>{% endif %}
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			<a href="/work" class="writing-link">See more writing &amp; projects &raquo; </a>
			</div>
		</section>

	</div><!-- wrapped -->
</header>

<section class="about desk">
	<p class="readability">
	{% for post in site.categories.about %}
		{% if post.official == true %}
			{{ post.content | strip_html }}
			<a href="/contact"> Contact Kris</a>.
		{% endif %}
	{% endfor %}
	</p>
</section>

<section class="post-container blog-home">

	<div class="mobile-nav mobile">
		<span class="button" id="mblogb">Blog</span>
	</div>
	
	<div id="mblog" class="desk">
	<article class="readability post mobile-wrapped wrapped">
	{% assign first_post = site.categories.blog.first %}
		<header>
			<h1 class="title"><a href="{{ first_post.url }}">{{ first_post.title }}</a></h1>
		  	<span class="date">{{ first_post.date | date_to_string }}</span>
		</header>
	  	
	  	<div class="desk">
	    {{ first_post.content }}
	  	</div>

	  	<div class="mobile mobile-blog">
	    	{{ first_post.content | truncatewords: 70 }}
	    	<a href="{{ first_post.url }}"> More &raquo;</a>
	  	</div>
		
	</article>

		<nav class="prev-next desk readability clear">
		{% if first_post.previous.url %}
	 	<a href="{{first_post.previous.url}}" class="previous"><span aria-hidden="true" class="icon-ARROWL"></span></a>
	 	{% endif %}
		</nav>

		<div class="read-more">
		<a href="/blog">Read all posts</a>
		</div>

	</div>
			
</section>


<section class="contact half">
	<div class="mobile-nav mobile">
		<a href="/contact" class="button" id="contactb">Contact</a>
	</div>
</section>

<section class="about mobile">
	<div class="mobile-wrapped">
	<p class="readability">
	{% for post in site.categories.about %}
		{% if post.official == true %}
			{{ post.content }}
		{% endif %}
	{% endfor %}
	</p>
	</div>
</section>

<footer class="footer-home desk">
		<nav class="center">
			<ul class="footer-nav inline-list">
				<li><a href="/blog">Blog</a></li>
				<li><a href="/work">Writing & Projects</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
</footer>