---
layout: base
---

<header class="home clear">
	<div class="wrapped">
		
		<h1 class="half float-left logo">Kris Hartrum</h1>

		<section class="half float-left selected-writing desk">
			<h2>Selected Writing</h2>
			<ul>
				{% for item in page.writing %}	
				<li><a href="{{item.url}}">{{item.title}}</a><br><span>{{item.genre}}</span>{% if item.domain %}<span class="domain">{{item.domain}}</span>{% else %}<span class="domain">{{item.url | remove: 'http://' | split: '/' | first}}</span>{% endif %}</li>
				{% endfor %}
			</ul>
			<a href="/work" class="read-more">Read more writing &raquo; </a>
		</section>

	</div><!-- wrapped -->
</header>

<section class="mobile-nav mobile">
	<ul>
		<li><span class="button" id="mworkb">Writing & Projects</span>
			<div class="content selected-writing" id="mwork">
		 		<div class="wrapped">
				<h2>Selected Writing</h2>
				<ul>
				{% for item in page.writing %}	
				<li><a href="{{item.url}}">{{item.title}}</a><br><span>{{item.genre}}</span>{% if item.domain %}<span class="domain">{{item.domain}}</span>{% else %}<span class="domain">{{item.url | remove: 'http://' | split: '/' | first}}</span>{% endif %}</li>
				{% endfor %}
				</ul>
				<a href="/work" class="read-all">See more writing &amp; projects &raquo; </a>
				</div>
			</div>

		</li>

		<li><span class="button" id="mblogb">Blog</span>
				{% assign first_post = site.posts.first %}
				<article class="content post" id="mblog">
				<header>
					<h1 class="title"><a href="{{ first_post.url }}">{{ first_post.title }}</a></h1>
		  			<span class="date">{{ first_post.date | date_to_string }}</span>
				</header>
				<div class="wrapped">
	    		{{ first_post.content | truncatewords: 70 }}<a href="{{ first_post.url }}"> More &raquo;</a>
	  			</div>

	  			<a href="/blog" class="read-all">Read all posts</a>

				</article>
		</li>
		<li><a href="/contact" class="button">Contact</a></li>
	</ul>
</section>

<section class="about">
	<div class="wrapped">
	<p class="readability">
		{{content}} <a href="#contact">Contact Kris</a>.
	</p>
	</div>
</section>

<section class="post-container blog-home">
	<div class="section-title">
		<h2><a href="/blog">from the Blog</a></h2>
	</div>

	<article class="readability post wrapped">
	{% assign first_post = site.posts.first %}
		<header>
			<h1 class="title"><a href="{{ first_post.url }}">{{ first_post.title }}</a></h1>
		  	<span class="date">{{ first_post.date | date_to_string }}</span>
		</header>
	  	
	  	<div>
	    {{ first_post.content }}
	  	</div>
	
	</article>
	
	<footer>
		<nav class="prev-next">
		{% if first_post.previous.url %}
	 	<a href="{{first_post.previous.url}}" class="previous">previous</a>
	 	{% endif %}

	 	{% if first_post.next.url %}
	 	<a href="{{first_post.next.url}}" class="next">next</a>
	  	{% endif %}
		</nav>
		
		<a href="/blog">Read all posts</a>
	</footer>

</section>

<footer class="footer-home">
	<section class="contact" id="contact">
		<h2>Contact</h2>
	</section>
</footer>