---
layout: base
---

<header class="home">
	<div class="wrapped clear">
		
		<h1 class="half float-left logo mobile-wrapped">Kris Hartrum</h1>

		<section class="half float-left selected-writing">

			<div class="mobile-nav mobile">
				<span class="button" id="mworkb">Writing & Projects</span>
			</div>
			
			<div class="mobile-wrapped desk" id="mwork">
			<h2>Selected Writing</h2>
			<ul>
				{% for item in page.writing %}	
				<li><a href="{{item.url}}">{{item.title}}</a><br><span>{{item.genre}}</span>{% if item.domain %}<span class="domain">{{item.domain}}</span>{% else %}<span class="domain">{{item.url | remove: 'http://' | split: '/' | first}}</span>{% endif %}</li>
				{% endfor %}
			</ul>
			<a href="/work" class="writing-link">See more writing &amp; projects &raquo; </a>
			</div>
		</section>

	</div><!-- wrapped -->
</header>

<section class="about desk">
	<div class="wrapped">
	<p class="readability">
		{{content}} <a href="/contact">Contact Kris</a>.
	</p>
	</div>
</section>

<section class="post-container blog-home">

	<div class="mobile-nav mobile">
		<span class="button" id="mblogb">Blog</span>
	</div>
	
	<div id="mblog" class="desk">
	<article class="readability post mobile-wrapped wrapped">
	{% assign first_post = site.posts.first %}
		<header>
			<h1 class="title"><a href="{{ first_post.url }}">{{ first_post.title }}</a></h1>
		  	<span class="date">{{ first_post.date | date_to_string }}</span>
		</header>
	  	
	  	<div class="desk">
	    {{ first_post.content }}
	  	</div>

	  	<div class="mobile mobile-blog">
	    	{{ first_post.content | truncatewords: 70 }}
	    	<a href="{{ first_post.url }}"> More &raquo;</a>
	  	</div>
		
	</article>

		<nav class="prev-next desk readability clear">
		{% if first_post.previous.url %}
	 	<a href="{{first_post.previous.url}}" class="previous"><span aria-hidden="true" class="icon-ARROWL"></span></a>
	 	{% endif %}

	 	{% if first_post.next.url %}
	 	<a href="{{first_post.next.url}}" class="next"><span aria-hidden="true" class="icon-ARROWR"></span></a>
	  	{% endif %}
		</nav>

		<div class="read-more">
		<a href="/blog">Read all posts</a>
		</div>

	</div>
			
</section>


<section class="contact half">
	<div class="mobile-nav mobile">
		<a href="/contact" class="button" id="contactb">Contact</a>
	</div>
</section>

<section class="about mobile">
	<div class="mobile-wrapped">
	<p class="readability">
		{{content}}
	</p>
	</div>
</section>

<footer class="footer-site desk">
	<nav>
		<ul class="inline-list">
			<li><a href="/blog">Blog</a></li>
			<li><a href="/work">Writing & Projects</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</footer>