---
layout: default
---

<section class="post-container">
	
	<article class="readability post mobile-wrapped wrapped" role="main">
		<header>
			<h1 class="title">{{ page.title }}</h1>
		  	<span class="date">{{ page.date | date_to_string }}</span>
		</header>
	  	
	  	<div class="post-body">
	    {{ content }}
		</div>

	</article>

		<nav class="prev-next readability clear">
		{% if page.previous.url %}
	 	<a href="{{page.previous.url}}" class="previous"><span aria-hidden="true" class="icon-ARROWL"></span></a>
	 	{% endif %}

	 	{% if page.next.url %}
	 	<a href="{{page.next.url}}" class="next"><span aria-hidden="true" class="icon-ARROWR"></span></a>
	  	{% endif %}
		</nav>

		<div class="read-more">
			<a href="/blog">Read all posts</a>
		</div>
</section>